<div class="main-section">
    <div class="second-section">
        <div class="card_box">
            <img src="/assets/pictures/Icon3.png">
            <h5>Quick Cash Disbursement</h5>
            <p>Get terms loans that your business needs within 72 hrs</p>
        </div>
        <div class="card_box">
            <img src="/assets/pictures/Icon2.png">
            <h5>Low-Interest Rates</h5>
            <p>Achieve your financial goals with an amazing interset rate starting at 13% per annum</p>
        </div>
        <div class="card_box">
            <img src="/assets/pictures/Icon4.png">
            <h5>Zero PaperWork</h5>
            <p>Get started instantly by submitting only your basic details & bank statements</p>
        </div>
    </div>
    <div class="third-section">
        <div class="card_box">
            <img src="/assets/pictures/Icon5.png">
            <h5>Ace Your Business Finances</h5>
            <p>Manage banking, accounting & everything in between, on one platform</p>
        </div>
        <div class="card_box">
            <img src="../../../assets/pictures/Icon1.png">
            <h5>Loans to fight COVID-19</h5>
            <p>Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
        </div>
    </div>
    <div class="forth-section">
        <div class="boost-section" style="margin-bottom: 25px;">
            <h1>Boost your business with Open</h1>
        </div>
        <div class="line"> </div>
        <div>
            <h5>Get your hands on a term loan that's crafter for your business</h5>
        </div>
        <div>
            <button type="button" class="btn btn-outline-secondary btn-open-account">Get an Open Account</button>
        </div>
    </div>
</div>