<div>
    <toolbar-root></toolbar-root>
    <div class="row main-home-div">
        <div class="col-6 first-section-home">
            <div class="col-8 pb-3">
                <h1>We make it Super Simple</h1>
                <div class="pb-3 first-section-text"> </div>
            </div>
            <div class="pb-3">
                <img class="image-one" src="../../../assets/pictures/Image1.png">
                <img class="background-one" src="../../../assets/pictures/Background3.png">
            </div>
        </div>

        <div class="col-6 main-section-two">
            <div class="sub-section-one">
                <div class="eligibility-section">Eligibility Calculator</div>
                <div>
                    <div class="monthly-section"> Monthly Income</div>
                    <div class="amount-one"> Rs 1,50,000</div>
                    <div>
                        <form>
                            <div class="form-group">
                                <input type="range" class="form-control-range" id="formControlRange">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="margin">
                    <div> Monthly Expence</div>
                    <div class="amount"> Rs 50,000</div>
                    <div>
                        <form>
                            <div class="form-group">
                                <input type="range" class="form-control-range" id="formControlRange">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="margin">
                    <div> Repayment Tenure</div>
                    <div>
                        <select class="custom-select">
                            <option selected>Please Select</option>
                            <option value="1">6 Months</option>
                            <option value="2">12 Months</option>
                        </select>
                    </div>

                </div>
                <div class="margin">
                    <div> Do you have existing Loans?</div>
                    <div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline1">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">No</label>
                        </div>
                    </div>
                </div>
                <div class="margin">
                    <div> EMI of Existing Loan (optional)</div>
                    <div> <input class="form-control" type="text" placeholder="15,000"> </div>
                </div>
            </div>
            <div class="section">
                <div>
                    <div class="loan-amount"> Loan Amount</div>
                    <div class="amount-rs"> Rs 1,00,000 </div>
                </div>
                <div>
                    <div class="emi-section"> Your EMI Will be</div>
                    <div class="another-amount"> 15,000 </div>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-secondary money-section">Get
                        Money</button>
                </div>
            </div>
        </div>
        <div class="image-section">
            <img src="../../../assets/pictures/Background3.png">
        </div>
    </div>


    <card-root> </card-root>
</div>