.menu-header {
    font-size: 1.1rem;
    cursor: pointer;
    letter-spacing: 0.5px;
    outline: 0;
    margin-right: 40px;
  }

.nav-item {
padding-right: 20px;
}

.btn-login {
  border-radius: 18px;
  color: #b448e0; 
  border-block-color: #b448e0; 
  margin-right: 40px;
}

.btn-getStarted{
  border-radius: 18px;
  color: #ececec;
  border-block-color: #b448e0; 
  background-color: #6b389e;
}